@import "tailwindcss";

:root {
  --primary-color: #475569; /* slate-600 */
  --primary-hover: #334155; /* slate-700 */
  --border-color: #e5e7eb; /* gray-200 */
  --bg-light: #f8fafc; /* slate-50 */
}